<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.iPatternConnectionString"
            connectionString="Data Source=192.168.1.100\sqlexpress2008;Initial Catalog=iPattern;Persist Security Info=True;User ID=sa;Password=iBrain4ever"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>